body{
    margin: 0;
}
nav{
    height: 60px;
    background-color: rgb(139, 185, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 50px;
    margin-bottom: 30px;
}

nav div:nth-child(1) img{
    height: 45px;
    width: auto;
}

nav div:nth-child(2){
    display: flex;
    justify-content: space-around;
    width: 50%;
}
nav div:nth-child(2) a{
    color: white;
    text-decoration: none;
    font-size: 16pt;
}
body section:nth-child(2){
    width: 100%;
    height: 380px;
    background-image: url("images/banner.jpg");
    background-size: cover;
}
.informativo{
    display: flex;
    height: 400px;
    padding: 0 50px;
}
.informativo img{
    width: 400px;
    height: 300px;
}
.informativo div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.informativo p{
    color: rgb(59, 59, 59);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
}
.informativo h2{
    color: rgb(0, 80, 0);
    font-size: 26pt;
}
footer{
    height: 150px;
    background-color: rgb(139, 185, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
}
footer div{
    width: 40%;
    display: flex;
    justify-content: space-around;
}